{% block _favor_custom_status_widget %}
        <select class="form-control" id="favor_status" name="favor[status]">
            <option value="0">Inactif</option>
            <option value="1">Actif</option>
            <option value="2">En attente de validation</option>
        </select>
{% endblock %} &&